h1 {
  font: oblique 50px "Utopia", monospace;
  text-align: center;
  color: #5031D6;
  text-shadow: 0px 5px 4px #6376A9;
}

h2{
  font: oblique 40px "Utopia", monospace;
  text-align: center;
  color: #9E2730;
  text-shadow: 0px 5px 4px #6A062A;
}

.main{
  background: url(../img/aatrox_sword.jpg) no-repeat center center fixed;
}

.leo{
  background-image: url(../img/maxallan.jpg);
}
}

p{
  color: #8ED2C9;
  background-color:#462066;
  text-indent: 50px;
}

.n{
  text-align: center;
  color: #8ED2C9;
  font: normal 30px "CenturySchoolBook L", monospace;
}

.datos{
  color: #9E2730;
  font: italic 30px "CenturySchoolBook L", monospace;
}

.oro{
  text-align: justify;
  color: #8ED2C9;
  font: normal 30px "CenturySchoolBook L", monospace;
}

.una{
  text-align: justify;
  color: #8ED2C9;
  font: normal 30px "CenturySchoolBook L", monospace;
}

.hombre{
  text-align: justify;
  color: #8ED2C9;
  font: normal 30px "CenturySchoolBook L", monospace;
}

.yo-mero{
float: left;
padding-left: 10px;
border:5px ridge #897C99; /* ancho - tipo - color */
padding:0px; /* distancia entre la img y el borde */
margin:5px; /* distancia entre el borde y el contenido */
width:600px /* el ancho de la img */
}

.escarabajo{
text-align: left;
border:5px ridge #0C0C0D; /* ancho - tipo - color */
padding:0px; /* distancia entre la img y el borde */
margin:5px; /* distancia entre el borde y el contenido */
width:500px /* el ancho de la img */
}

.bestias{
text-align: center;
padding-left: 10px;
border:5px ridge #0C0C0D; /* ancho - tipo - color */
padding:0px; /* distancia entre la img y el borde */
margin:5px; /* distancia entre el borde y el contenido */
width:500px /* el ancho de la img */
}

.negocios{
text-align: right;
border:5px ridge #0C0C0D; /* ancho - tipo - color */
padding:0px; /* distancia entre la img y el borde */
margin:5px; /* distancia entre el borde y el contenido */
width:500px /* el ancho de la img */
}

.button {
    display: inline-block;
    padding: 1em;
    /*background-color: #79BD9A;*/
    background-color: inherit;;
    text-decoration: none;
    color: blue;
}

/*.introduccion, .cierre{
  font-size: 50px;
}*/
